# the following directories are excluded from git repository, as they contain
# copyrighted material not fit for restriction-less internet publishing.
/ucdp-data/
/ucdp-data-extracted/
/output-data/

# the following files are build artifacts specific to the machine where
# they are built.
/code/sna-at-download.pdf
/code/sna-at-extract-and-combine.pdf
/code/ucdp-quality-checklist.pdf
/data-management-plan.pdf
/README.pdf
